<div class="main">
    <div class="navbar">
      <ul class="nav-links">
        <li><a (click)="selectTab('buy')" [ngClass]="{'active': selectedTab === 'buy'}">Buy Orders</a></li>
        <li><a (click)="selectTab('all')" [ngClass]="{'active': selectedTab === 'all'}">All Orders</a></li>
        <li><a (click)="selectTab('sell')" [ngClass]="{'active': selectedTab === 'sell'}">Sell Orders</a></li>
      </ul>
    </div>
    
  
  
    <div class="tab-content">
      <div *ngIf="selectedTab === 'all'" class="container orders-container">
        <div class="switch">
          <input type="checkbox" id="activeFilter" (change)="toggleActiveFilter()" [checked]="showActiveOnly" />
          <label class="slider" for="activeFilter"></label>
          <span class="switch-label">Show Only Active Orders</span>
        </div>
      <table class="orders-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Customer ID</th>
            <th>Stock Symbol</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Type</th>
            <th>Status</th>
            <th>Order Date</th>
              <th *ngIf="showActiveOnly">Cancel</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of filteredOrders | paginate: { id: 'all', itemsPerPage: pageSize, currentPage: pAll }">
              <td>{{ order.id }}</td>
              <td>{{ order.customerId }}</td>
              <td>{{ order.stockSymbol }}</td>
              <td>{{ order.quantity }}</td>
              <td>${{ order.price }}</td>
              <td [ngClass]="getOrderType(order.type)">{{ getOrderType(order.type) }}</td>
              <td [ngClass]="getStatusClass(order.status)">{{ getStatusText(order.status) }}</td>
              <td>{{ order.orderDate | date: 'yyyy-MM-dd' }}</td>
              <td *ngIf="showActiveOnly">
                <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true"></p-button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          id="all"
          (pageChange)="pAll = $event"
          (pageBoundsCorrection)="pAll = $event"
          [directionLinks]="true"
          [responsive]="true"
          [autoHide]="false"
          [maxSize]="maxSize"
          previousLabel=""
          nextLabel=""
          class="custom-pagination"
        ></pagination-controls>
      </div>
  
      <div *ngIf="selectedTab === 'buy'" class="container orders-container">
        <div class="switch">
          <input type="checkbox" id="activeFilter" (change)="toggleActiveFilter()" [checked]="showActiveOnly" />
          <label class="slider" for="activeFilter"></label>
          <span class="switch-label">Show Only Active Orders</span>
        </div>
        <table class="orders-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Customer ID</th>
              <th>Stock Symbol</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Type</th>
              <th>Status</th>
              <th>Order Date</th>
              <th *ngIf="showActiveOnly">Cancel</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of filteredOrders | paginate: { id: 'buy', itemsPerPage: pageSize, currentPage: pBuy }">
            <td>{{ order.id }}</td>
            <td>{{ order.customerId }}</td>
            <td>{{ order.stockSymbol }}</td>
            <td>{{ order.quantity }}</td>
            <td>${{ order.price }}</td>
              <td [ngClass]="getOrderType(order.type)">{{ getOrderType(order.type) }}</td>
              <td [ngClass]="getStatusClass(order.status)">{{ getStatusText(order.status) }}</td>
            <td>{{ order.orderDate | date: 'yyyy-MM-dd' }}</td>
              <td *ngIf="showActiveOnly">
                <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true"></p-button>
              </td>
          </tr>
        </tbody>
      </table>
        <pagination-controls
          id="buy"
          (pageChange)="pBuy = $event"
          (pageBoundsCorrection)="pBuy = $event"
          [directionLinks]="true"
          [responsive]="true"
          [autoHide]="false"
          [maxSize]="maxSize"
          previousLabel=""
          nextLabel=""
          class="custom-pagination"
        ></pagination-controls>
    </div>
    
      <div *ngIf="selectedTab === 'sell'" class="container orders-container">
        <div class="switch">
          <input type="checkbox" id="activeFilter" (change)="toggleActiveFilter()" [checked]="showActiveOnly" />
          <label class="slider" for="activeFilter"></label>
          <span class="switch-label">Show Only Active Orders</span>
        </div>
        <table class="orders-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Customer ID</th>
              <th>Stock Symbol</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Type</th>
              <th>Status</th>
              <th>Order Date</th>
              <th *ngIf="showActiveOnly">Cancel</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of filteredOrders | paginate: { id: 'sell', itemsPerPage: pageSize, currentPage: pSell }">
              <td>{{ order.id }}</td>
              <td>{{ order.customerId }}</td>
              <td>{{ order.stockSymbol }}</td>
              <td>{{ order.quantity }}</td>
              <td>${{ order.price }}</td>
              <td [ngClass]="getOrderType(order.type)">{{ getOrderType(order.type) }}</td>
              <td [ngClass]="getStatusClass(order.status)">{{ getStatusText(order.status) }}</td>
              <td>{{ order.orderDate | date: 'yyyy-MM-dd' }}</td>
              <td *ngIf="showActiveOnly">
                <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true"></p-button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          id="sell"
          (pageChange)="pSell = $event"
          (pageBoundsCorrection)="pSell = $event"
          [directionLinks]="true"
          [responsive]="true"
          [autoHide]="false"
          [maxSize]="maxSize"
          previousLabel=""
          nextLabel=""
          class="custom-pagination"
        ></pagination-controls>
      </div>
    </div>
  </div>
  