<div class="order-form-container">
    <form class="order-form">
        <div class="form-row">
            <div class="form-group">
                <label for="symbol">Stock Symbol</label>
                <input
                    type="text"
                    id="symbol"
                    [(ngModel)]="stockSymbol"
                    name="symbol"
                    placeholder="e.g. ATB"
                    (input)="onSymbolInput()"
                    required
                    autocomplete="off"
                />
                <div class="dropdown" *ngIf="filteredSymbols.length">
                    <ul *ngIf="filteredSymbols.length && stockSymbol.length > 0">
                        <li *ngFor="let symbol of filteredSymbols" (click)="selectSymbol(symbol)">
                            {{ symbol }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="price">Price per Share</label>
                <input
                    type="number"
                    id="price"
                    [(ngModel)]="price"
                    name="price"
                    placeholder="Select an Stock"
                    required
                    readonly
                />
            </div>

            <div class="form-group price-form">
                <label for="quantity">Amount to Invest</label>
                <input
                    type="number"
                    id="quantity"
                    [(ngModel)]="quantity"
                    name="quantity"
                    min="1"
                    placeholder="Amount"
                    required
                />
            </div>
        </div>

        <div class="form-buttons">
            <button type="button" class="buy-btn" (click)="placeBuyOrder()">Buy</button>
            <button type="button" class="sell-btn" (click)="placeSellOrder()">Sell</button>
        </div>
    </form>
</div>
