<div class="container">
  <p-carousel [value]="companyHistoryEntries"
              [numVisible]="9"
              [numScroll]="5"
              [circular]="true"
              [responsiveOptions]="responsiveOptions"
              autoplayInterval="5000">
    <ng-template let-historyEntry pTemplate="item">
      <div class="p-carousel-item">
        <div class="circle-card">
          <h5 class="company-symbol">{{ historyEntry.companySymbol }}</h5>
          <p>{{ historyEntry.price + ' RON' }}</p>       
          <p class="day-variation {{ historyEntry.dayVariation >= 0 ? 'text-green' : 'text-red' }}">
            {{ historyEntry.dayVariation | number: '1.2-2' }}%
          </p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
