.full-width-height {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Full viewport height */
  box-sizing: border-box;
}

.table-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.table-responsive {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

.left-panel {
  min-width: 100%;
}

.table-container {
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.top-half.ng-tns-c2645885495-1 {
  overflow: hidden;
}
.expanded-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  padding: 10px;
  margin-right: 10px;
  border-top: 1px solid #ddd;
  overflow: hidden;
}

.expanded-content div {
  flex: 1 1 50%;
  margin-bottom: 10px;
  overflow: hidden;
}

.company-details-header {
  font-size: 1.5rem; /* Larger font size */
  font-weight: bold; /* Bold weight */
  text-align: center; /* Center-align text */
  color: #1a2939bc; /* A subtle blue color, adjust as needed */
  padding: 10px 70px; /* Add vertical spacing */
  border: 1px solid #0000005f; /* A border under the title for emphasis */
  margin-bottom: 20px; /* Space below the header */
  background-color: #f8f9fa; /* Light gray background to make it stand out */
  border-radius: 10px; /* Rounded corners */
}

.top-half {
  height: 50%;
  padding: 10px;
  overflow-y: auto;
}

.bottom-half {
  height: 50%;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#priceGraph {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.details-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .table-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .table-container {
    padding: 5px;
  }

  .expanded-content div {
    flex: 1 1 100%;
  }

  .top-half,
  .bottom-half {
    height: auto;
    max-height: 50%;
    padding: 5px;
  }

  #priceGraph {
    width: 100%;
    height: auto;
    max-height: 200px;
  }
}

@media (max-width: 480px) {
  .table-title {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .table-container {
    padding: 5px;
  }

  .expanded-content div {
    flex: 1 1 100%;
    margin-bottom: 5px;
  }

  .top-half,
  .bottom-half {
    height: auto;
    max-height: 50%;
    padding: 5px;
  }

  #priceGraph {
    width: 100%;
    height: auto;
    max-height: 150px;
  }

  .details-panel {
    padding: 10px;
  }
}

/* Style for card layout */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: auto;
}

.card {
  flex: 1 1 calc(100% - 20px);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  background-color: #f9f9f9;
  font-size: 0.9rem;
}

.card-header {
  font-weight: bold;
  font-size: 1rem;
}

.card-body {
  margin-top: 8px;
}

.card-footer {
  margin-top: 8px;
  text-align: center;
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 calc(100% - 10px);
    font-size: 0.8rem;
  }

  .card-header {
    font-size: 0.9rem;
  }
}

::ng-deep
  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  height: 0px !important;
}

::ng-deep .mat-mdc-form-field-infix {
  padding: 4px !important;
}

.sort-dropdown {
  width: 200px; /* Adjust as needed */
  height: 35px;
  background-color: white;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

.sort-dropdown .p-dropdown {
  border: 1px solid #007bff; /* Border color */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
}

.sort-dropdown .p-dropdown .p-dropdown-trigger {
  background-color: #007bff; /* Background color for dropdown trigger */
  color: #fff; /* Text color for dropdown trigger */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
}

.sort-dropdown .p-dropdown .p-dropdown-trigger:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

::ng-deep .swap-index {
  width: 100% !important;
}

.btn-container {
  display: flex;
  align-items: center; /* Aliniază vertical butoanele și titlul */
  justify-content: space-between; /* Asigură spațiu între butoane și titlu */
  padding: 0.5rem; /* Padding pentru un aspect mai plăcut */
}

.buttons-container {
  background-color: #f8f9fa;
  border-radius: 10px;
  border: 1px solid #0000005f; /* A border under the title for emphasis */
  display: flex;
  gap: 0.5rem; /* Adaugă spațiu între butoane */
  padding: 5px; /* Ajustează paddingul */
}

.text-cnt {
  flex-grow: 1; /* Face textul să ocupe restul spațiului */
  text-align: center; /* Centrează textul pe orizontală */
}

.company-details-header {
  margin: 0; /* Elimină marginile default */
  font-size: 1.2rem; /* Ajustează dimensiunea fontului */
  font-weight: bold;
  color: #1a2939bc; /* Optional: un albastru mai accentuat */
}

/* Stiluri aplicate doar butonului cu clasa "custom-btn" */
::ng-deep .custom-btn .p-button {
  border-radius: 10px !important; /* Rotunjirea marginilor butonului */
  width: auto !important; /* Ajustează lățimea în funcție de conținut */
  height: auto !important; /* Ajustează înălțimea */
  padding: 7px 12px !important; /* Redimensionează paddingul */
  font-size: 0.9rem !important; /* Micșorează fontul */
  background-color: #1a2939bc !important; /* Culoare de fundal albastru */
  color: white !important; /* Text alb */
  border: none !important; /* Elimină borderul implicit */
}

::ng-deep button.p-element.sort-button.p-button.p-component.p-button-icon-only {
  height: 35px !important;
  background-color: #1a2939bc !important;
  border: none !important; /* Elimină borderul implicit */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Efect de hover doar pentru butonul cu clasa "custom-btn" */
::ng-deep .custom-btn .p-button:hover {
  background-color: #0056b3 !important; /* Nuanță mai închisă la hover */
}

/* Efect de active doar pentru butonul cu clasa "custom-btn" */
::ng-deep .custom-btn .p-button:active {
  background-color: #004085 !important; /* Nuanță mai închisă la click */
}

/* Container pentru butoane de trade */
.buttons-container-trade {
  height: auto;
  background-color: #e3f2fd; /* Schimbă fundalul pentru un aspect diferit */
  border-radius: 10px;
  border: 1px solid #0000005f; /* Graniță subtilă */
  display: flex;
  gap: 0.5rem; /* Adaugă spațiu între butoane */
  padding: 5px;
  margin: auto 5px;
}

/* Stiluri aplicate doar butonului de trade */
::ng-deep .custom-btn-trade .p-button {
  border-radius: 8px !important; /* Rotunjirea marginilor butonului */
  width: auto !important; /* Ajustează lățimea în funcție de conținut */
  height: auto !important; /* Ajustează înălțimea */
  padding: 10px 15px !important; /* Redimensionează paddingul */
  font-size: 0.85rem !important; /* Micșorează fontul */
  background-color: #1a2939bc !important; /* Culoare de fundal portocaliu */
  color: white !important; /* Text alb */
  border: none !important; /* Elimină borderul implicit */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adaugă un shadow subtil */
}

/* Efect de hover pentru butonul Trade */
::ng-deep .custom-btn-trade .p-button:hover {
  background-color: #0056b3 !important; /* Nuanță mai închisă la hover */
}

/* Efect de active pentru butonul Trade */
::ng-deep .custom-btn-trade .p-button:active {
  background-color: #004085 !important; /* Nuanță mai închisă la click */
}

/* Adaugă o animație mică la hover */
::ng-deep .custom-btn-trade .p-button {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

::ng-deep .custom-btn-trade .p-button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Intensifică shadow la hover */
}
::ng-deep button.p-element.btn.btn-warning.p-button.p-component {
  background-color: #1a2939bc !important;
  border-color: #1a2939bc !important;
}

/* Stilizare pentru mat-form-field */
::ng-deep .sort-dropdown .mat-form-field-label {
  text-align: center !important; /* Centrează textul etichetei */
  color: white !important; /* Schimbă culoarea textului etichetei */
}

/* Stilizare pentru mat-select */
::ng-deep .sort-dropdown .mat-select-trigger {
  text-align: center !important; /* Centrează textul în selector */
}

/* Stilizare pentru mat-select opțiuni */
::ng-deep .sort-dropdown .mat-option {
  text-align: center !important; /* Centrează textul opțiunilor */
}

/* Stilizare pentru mat-form-field (background color, border, etc.) */
::ng-deep .sort-dropdown .mat-form-field {
  background-color: #f8f9fa !important; /* Schimbă culoarea de fundal */
  border-radius: 4px; /* Colțuri rotunjite */
  padding: 0.5rem; /* Padding pentru butonul de selectare */
}

::ng-deep .sort-dropdown .mat-select {
  color: #495057; /* Schimbă culoarea textului din select */
}

::ng-deep.sort-dropdown .mat-select-trigger {
  height: auto; /* Ajustează înălțimea */
}

::ng-deep.sort-dropdown .mat-option {
  color: #495057; /* Schimbă culoarea textului opțiunilor */
}

::ng-deep.sort-dropdown .mat-option:hover {
  background-color: #e9ecef; /* Culoare de fundal la hover pentru opțiuni */
}

.sort-dropdown {
  width: 200px; /* Adjust as needed */
}

.sort-dropdown .p-dropdown {
  border: 1px solid #007bff; /* Border color */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
}

.sort-dropdown .p-dropdown .p-dropdown-trigger {
  background-color: #007bff; /* Background color for dropdown trigger */
  color: #fff; /* Text color for dropdown trigger */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
}

.sort-dropdown .p-dropdown .p-dropdown-trigger:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

app-market-index {
  justify-content: center; /* Center the canvas horizontally */
  align-items: center; /* Center the canvas vertically */
  height: 80%;
  width: 100%;
}
