<div class="full-width-height">
  <p-splitter
    [panelSizes]="[100, 100]"
    [style]="{ height: '100%', width: '100%' }"
    styleClass="custom-splitter"
  >
    <!-- Left Panel: Company Table -->
    <ng-template pTemplate="left">
      <div class="left-panel">
        <!-- Sort Dropdown -->
        <div *ngIf="!showTrade">
          <div class="btn-container">
            <div class="buttons-container">
              <div class="sort-container" style="display: flex">
                <mat-form-field appearance="fill" class="sort-dropdown">
                  <div class="mat-form-text">
                    <mat-label class="mat-label">Sort by Attribute</mat-label>
                    <mat-select
                      [(value)]="selectedAttribute"
                      (selectionChange)="
                        getCompanies(selectedAttribute, sortOrder)
                      "
                    >
                      <mat-option
                        *ngFor="let attr of companyAttributes"
                        [value]="attr"
                        >{{ attr }}</mat-option
                      >
                    </mat-select>
                  </div>
                </mat-form-field>

                <button
                  pButton
                  icon="pi pi-sort"
                  class="sort-button"
                  (click)="toggleSortOrder()"
                ></button>
              </div>
            </div>

            <div class="text-cnt">
              <h4 class="company-details-header">Top Companies</h4>
            </div>
            <div class="buttons-container">
              <p-button (click)="swapLeftPanelContent()" class="custom-btn"
                >Trade</p-button
              >
            </div>
          </div>

          <div class="search-container">
            <app-market-search-bar
              (search)="onSearch($event)"
            ></app-market-search-bar>
          </div>

          <div class="table-container">
            <!-- Table view for larger screens -->
            <ng-container *ngIf="!isMobileView">
              <p-table
                [value]="companies"
                [paginator]="true"
                [rows]="5"
                [paginatorPosition]="'bottom'"
                [responsive]="true"
                class="table table-striped table-bordered"
                (onRowSelect)="onRowSelect($event.data)"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-company>
                  <tr
                    (click)="onRowSelect(company)"
                    [ngClass]="{ 'selected-row': selectedRow === company }"
                    style="cursor: pointer"
                  >
                    <td>{{ company.company.symbol }}</td>
                    <td>{{ company.company.name }}</td>
                    <td>
                      {{ company.history[company.history.length - 1].price }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </ng-container>

            <!-- Card view for smaller screens -->
            <ng-container *ngIf="isMobileView">
              <div *ngIf="companies.length > 0" class="card-container">
                <div
                  class="card"
                  *ngFor="let company of companies"
                  (click)="onRowSelect(company)"
                  style="cursor: pointer"
                >
                  <div class="card-header">
                    {{ company.company.symbol }}
                  </div>
                  <div class="card-body">
                    <p><strong>Name:</strong> {{ company.company.name }}</p>
                    <p>
                      <strong>Price:</strong>
                      {{ company.history[company.history.length - 1].price }}
                    </p>
                  </div>
                  <div class="card-footer"></div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div *ngIf="showTrade">
          <div class="btn-container">
            <div class="buttons-container" style="height: 35px !important">
              <span>{{ companiesBySignalR }}</span>
            </div>
            <div class="text-cnt">
              <h4 class="company-details-header">Place Your Order</h4>
            </div>
            <div class="buttons-container">
              <p-button (click)="swapLeftPanelContent()" class="custom-btn"
                >Trade</p-button
              >
            </div>
          </div>

          <app-place-order></app-place-order>
          <app-orders-table></app-orders-table>
        </div>
      </div>
    </ng-template>

    <!-- Right Panel: Company Details Panel -->
    <ng-template pTemplate="right">
      <div *ngIf="!showMarketIndex">
        <div *ngIf="selectedCompany" class="details-panel">
          <div class="btn-container">
            <div class="buttons-container">
              <p-button (click)="swapRightPanelContent()" class="custom-btn"
                >Swap</p-button
              >
            </div>
            <div class="text-cnt">
              <h4 class="company-details-header">Company Details</h4>
            </div>
          </div>
          <div class="top-half">
            <div class="expanded-content">
              <div>
                <strong>Name:</strong> {{ selectedCompany.company.name }}
              </div>
              <div>
                <strong>Symbol:</strong> {{ selectedCompany.company.symbol }}
              </div>
              <div>
                <strong>Price:</strong>
                {{
                  selectedCompany.history[selectedCompany.history.length - 1]
                    .price
                }}
              </div>
              <div>
                <strong>Reference Price:</strong>
                {{
                  selectedCompany.history[selectedCompany.history.length - 1]
                    .referencePrice
                }}
              </div>
              <div>
                <strong>Opening Price:</strong>
                {{
                  selectedCompany.history[selectedCompany.history.length - 1]
                    .openingPrice
                }}
              </div>
              <div>
                <strong>Closing Price:</strong>
                {{
                  selectedCompany.history[selectedCompany.history.length - 1]
                    .closingPrice
                }}
              </div>
              <div>
                <strong>EPS:</strong>
                {{
                  selectedCompany.history[selectedCompany.history.length - 1]
                    .eps
                }}
              </div>
              <div>
                <strong>PER:</strong>
                {{
                  selectedCompany.history[selectedCompany.history.length - 1]
                    .per
                }}
              </div>
              <div>
                <strong>Day Variation:</strong>
                {{
                  selectedCompany.history[selectedCompany.history.length - 1]
                    .dayVariation
                }}
              </div>
              <div>
                <strong>Volume:</strong>
                {{
                  selectedCompany.history[selectedCompany.history.length - 1]
                    .volume
                }}
              </div>
              <div>
                <strong>Status:</strong>
                {{ selectedCompany.company.status === 1 ? "Ok" : "Not ok" }}
              </div>
            </div>
          </div>
          <div class="bottom-half">
            <canvas id="priceGraph"></canvas>
          </div>
        </div>
      </div>

      <div *ngIf="showMarketIndex" class="details-panel">
        <div class="btn-container">
          <div class="buttons-container">
            <p-button (click)="swapRightPanelContent()" class="custom-btn"
              >Swap</p-button
            >
          </div>
          <div class="text-cnt">
            <h4 class="company-details-header">Market Index</h4>
          </div>
        </div>
        <app-market-index></app-market-index>
      </div>
    </ng-template>
  </p-splitter>
</div>
